nbformat
nbconvert
pandas
scipy
statsmodels
wquantiles
seaborn
scikit-learn
mlxtend
imbalanced-learn
mlba
pygam
xgboost
prince
adjustText
gower

# LLM use
python-dotenv
openai
langchain
langchain-community
langchain-openai
shap
networkx
torch
torchvision
keras
tensorflow
